<!DOCTYPE html>
<html>
<head>
  <title>Terminal</title>
  <link rel="stylesheet" href="static/css/HomeStyle.css">
  <script src="static/js/HomeScript.js" defer></script>
  <link rel="shortcut icon" href="static/images/terminal.jpg" type="image/x-icon"> 
</head>
<body>
 <p>&nbsp;</p>
<p></p>
<div class="main-wrapper">
<h1 class="main-heading">Terminal</h1>
<h2>🎵 Welcome to Terminal </h1> <h3>-Where Music is Free, Ad-Free, and Yours to Download! 🎧</h3>
<p2><br>Immerse yourself in a world of boundless music with our exceptional player. 🌟</p2>

<div class="description">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Playlist</p>
</div>
<div class="container"><a class="button" href="/radio"> <img class="logo" src="static/images/terminal.jpg" alt="radio" /> <span class="text">Radio</span> </a> <a class="button" href="night"> <img class="logo" src="static/images/terminal.jpg" alt="night" /> <span class="text">Night</span> </a></div>
<div class="container1"><a class="button" href="/kpop"> <img class="logo" src="static/images/terminal.jpg" alt="kpop" /> <span class="text">K-pop</span> </a> <a class="button" href="malayalam"> <img class="logo" src="static/images/terminal.jpg" alt="malayalam" /> <span class="text">Malayalam</span> </a></div>
<div class="container2"><a class="button" href="/moodbooster"> <img class="logo" src="static/images/terminal.jpg" alt="Mood booster" /> <span class="text">Mood booster</span> </a> <a class="button" href="/kick"> <img class="logo" src="static/images/terminal.jpg" alt="Kick" /> <span class="text">Kick</span> </a></div>
<div class="conclusion">
<p>Made with ❤️ By Jishal.</p>
</div>
</div>
</body>
</html>
